.header{
  background-color: #3F51B5;
  padding: 1% 1% 1% 1%;
}

.header-title {
  color: white;
  vertical-align: middle;
  text-align: center;
  display: inline;
}

.header-menu {
  float: right;
}

.header-button {
  vertical-align: middle;
  box-sizing: content-box;
  background-color:#9E9E9E;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  min-width: 120px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
}
